# Paths
dataset_dir: '/datadrive2/CRM.AI.Research/TeamFolders/Email/repo_yuval/FloorPlan/Floor_Plan_Localization/data/zind/zind_data_set_80_fov'
desdf_path: '/datadrive2/CRM.AI.Research/TeamFolders/Email/repo_yuval/FloorPlan/Floor_Plan_Localization/data/zind/desdf_80_fov'
log_dir_depth: '/datadrive2/CRM.AI.Research/TeamFolders/Email/repo_yuval/FloorPlan/Floor_Plan_Localization/logs/zind/fov_80_correct_scale_final/depth/final_depth_model_checkpoint.ckpt'
log_dir_semantic: '/datadrive2/CRM.AI.Research/TeamFolders/Email/repo_yuval/FloorPlan/Floor_Plan_Localization/logs/zind/fov_80_correct_scale/semantic/final_semantic_model_checkpoint.ckpt'
split_file: '/datadrive2/CRM.AI.Research/TeamFolders/Email/repo_yuval/FloorPlan/Floor_Plan_Localization/data/zind/zind_data_set_80_fov/split.yaml'

results_dir: '/datadrive2/CRM.AI.Research/TeamFolders/Email/repo_yuval/FloorPlan/Floor_Plan_Localization/results/zind/fov_80_correct_scale/final'
# Dataset parameters
L: 0

# Depth network parameters
D: 128
d_min: 0.1
d_max: 15.0
d_hyp: -0.2

#Localize:
F_W: 0.5
V: 9

# Semantic network parameters
num_classes: 4

use_saved_prob_vol: false
num_of_scenes: -1

# Evaluation parameters
prediction_type: 'combined'  # Options: 'depth', 'semantic', 'combined', 'all'
use_ground_truth_depth: false  # Set to true to use ground truth depth
use_ground_truth_semantic: false  # Set to true to use ground truth semantics

# Weight combinations for combined evaluation
weight_combinations:
  - [1.0, 0.0]  # Depth-only
  - [0.0, 1.0]  # Semantic-only
  - [0.5, 0.5]
  # - [0.6, 0.4]
  # - [0.7, 0.3]
  # - [0.8, 0.2]
  # - [0.9, 0.1]
